{% extends 'manager/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>لیست کلاس‌ها</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <div class="mb-3">
        <a href="{% url 'classroom_create_view' %}" class="btn btn-primary">
            افزودن کلاس جدید
        </a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>نام کلاس</th>
                <th>دپارتمان</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for classroom in classrooms %}
            <tr>
                <td>{{ classroom.classroom_name }}</td>
                <td>{{ classroom.department.department_name }}</td>
                <td>
                    <a href="{% url 'classroom_edit_view' classroom.pk %}" class="btn btn-warning btn-sm">ویرایش</a>

                    <a href="{% url 'classroom_delete_view' classroom.pk %}" class="btn btn-danger btn-sm">
                        حذف
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}